# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files
.env

# AWS CLI installation files
aws/
awscliv2.zip

# Optional npm cache directory
.npm

# Editor settings
*.swp
.vscode/
.idea/
